@media(max-width: 768px){
    
    .header{
        display: flex;        
        background-color: #E0F7FA;
        width: 100%;
    }

    .header h1{
        margin: 10px;
    }
  
    .header nav .menu{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 17px;
        text-align: center;
        margin: 10px;
    }

    .header nav .menu li a{
        margin: 0;
        text-align: center;
        border-bottom: 2px dashed #80deea;
    }

    main .description{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    main .description h2{
      font-size: 30px;
    }

    h3{
        font-size: 20px
    } 

    main .btn .btn-explore, .bnt-appoint{
        margin: 10px;
    }

    .service{
        display: flex;
        flex-direction: column;
        padding: 40px
    }

    .service img{
        border-radius: 6px;
    }
    
   .text p{
        margin: 45px;
        font-size: 18px;
   }

   .gallery{
        display: grid;
        grid-template-columns: 1fr;
   }
}